{% extends "blog/base.html" %}

{% block content %}
    {% if posts%}
        {% for post in posts %}
        
            <div class="row">
                <div class="col-8">
                    <div class="card w-100 mb-3" style="width: 18rem;">
                
                        <div class="card-body">
                          <h5 class="card-title">{{ post.title }}</h5>
                          <footer class="blockquote-footer mt-2"><cite title="Source Title">{{post.author}}</cite></footer>
                          <p class="card-text">{{ post.article }}</p>
                          <a href="#" class="btn btn-primary">Read Detail</a>
                        </div>
                        <div class="card-footer text-muted">
                            {{post.publishedAt}}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="mb-3">
                        <label for="exampleDropdownFormEmail2" class="form-label">Filter Articles</label>
                        <input type="search" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com">
                      </div>
    
                        
                        <div class="mb-3">
                          <label for="exampleDropdownFormPassword2" class="form-label">Search</label>
                          <input type="search" class="form-control" id="exampleDropdownFormPassword2" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-primary">Filter</button>
                </div>
            </div>

           
        {% endfor %}
    {% endif %}
{% endblock %}